{% extends 'base.html' %}
{% block title %} utilities_INDEX {% endblock %}
{% block body %}
    <h1>실습실습</h1>
    <h2>
        <ul>
            <li> <a href="/utilities/bye">우리 헤어지는 날</a></li>
            <li> <a href="/utilities/graduation">1학기 졸업까지 남은 날</a></li>
            <li> <a href="/utilities/imagepick">랜덤 이미지</a></li>
            <li> <a href="/utilities/today">오늘의 날씨</a></li>
            <li> <a href="/utilities/ascii_new">ASCII ART 변환하기</a></li>
            <li> <a href="/utilities/original">Translator</a></li>
        </ul>
    </h2>
{% endblock %}